<%- include("partials/header") -%> 
<div class="abtTxt">
  
    <figure>
        <div class="abtHeading">
            <p>About Us</p>
                </div>
        <blockquote>
            HIV (human immunodeficiency virus) is a virus that attacks the body’s immune system. If HIV is not treated, it can lead to AIDS (acquired immunodeficiency syndrome). Learning the basics about HIV can keep you healthy and prevent HIV transmission. So here we are with our application which has all the information regarding to it. Our Web Application <strong>hivCare</strong> has a bunch of helpful things that can help people aware of this virus. We have made a self assessment-test where one can go and take their test and can know their risk of hiv. You can read blogs in which people suffering from hiv has shared their experience and everything about it. Further we have made a section in the end which has all the information and answer to every question that one may have in their mind. 
        </blockquote>
    </figure>
    
</div>


<%- include("partials/footer") -%> 