
<%- include("partials/header"); -%> 
<!-- <div class="headerImage">
    <div class="heading">
        <h1 class="headingTitle">Read, Write and Expand the World!</h1>
<p class="headingText">If you have a story to tell, knowledge or experience to share, <br>or a perspective to offer — welcome home. Here, your writing <br>can thrive in a network supported by millions of readers</p>
</div>
</div> -->
<div class="banner-container">
    <div class="banner-text">
        <h1>HivCare</h1>
        <h3> Read it out and know their stories!</h3>
        </div>
    </div>
</div>




<div class="containermain">
    <div class="main">

        



<div class="cardblogmain">
    <div class="cardblog">
        <h2 >HIV: What I Wish People Knew</h2>
        <h6><i>July 21, 2021, 1:30 p.m.</i></h6>
        
        <div class="row">
        
        <div class="col-sm-3">
        
        <img class="blog_img" src="https://www.morganstanley.com/pub/content/dam/msdotcom/people/tiles/wided-sghaier.jpg.img.490.medium.jpg/1594912196352.jpg" alt="hsgsgsg" title="hsgsgsg" width="100%">
        
        
            
        </div>
        
        <div class="col-sm-8">
        <p class="postedcontent"></p><p>When it comes to your health, ignorance can be extremely detrimental. Of course, our own ignorance can have consequences. But I'm also referring to the deep impact the ignorance of others can have on your life -- or death. This is a reality for people living with HIV, and as a woman living with HIV, this is what I wish people knew.

            HIV is one of the most stigmatized health conditions in the world due to its horrific and deadly introduction in the 1980s. It was unknown and mysterious, thought to be extremely contagious, considered 100% lethal, and extremely frightening. But it is now none of those things -- so it doesn't have to be feared.
            
            HIV isn’t a death sentence; it's an easily manageable chronic condition that people live long, productive, and dignified lives with. We now know and understand HIV, so it's no longer mysterious. If you follow your treatment so that your viral load is at an undetectable level, then you cannot transmit HIV to anyone.</p>
        <a href="/blog/details/hsgsgsg-bd354e56-b690-44e8-a5da-6692392d85b7" class="read-more">Read More</a>
        <p></p>
        <h6>Posted By: <a href="#" class="posted-by">Apoorva Kaushak</a> </h6>
        <h6>0 Likes | 0 Comments</h6>
            
        </div>
        
             
        </div>
        </div>

</div>







<div class="cardblogmain">
    <div class="cardblog">
        <h2>You Can Keep The Faith</h2>
        <h6><i>July 19, 2021, 5:10 p.m.</i></h6>
        
        <div class="row">
        
        <div class="col-sm-3">
        
        <img class="blog_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLT08OMpKVCUzmLimUT4RBFaauDQ6AbpDxig&usqp=CAU" alt="okkk" title="okkk" width="100%">
        
        
            
        </div>
        
        <div class="col-sm-8">
        <p class="postedcontent"></p><p>Modern science and continuous advancements in medications have led to extremely effective treatments that can suppress the virus to undetectable levels (meaning there isn’t enough virus to be counted in blood tests). Being undetectable also means you can even have children safely. So people living with HIV are able to live largely “normal” lives -- long, healthy, dignified lives.

            Yet despite these advances and others, people living with HIV are stigmatized, discriminated against, isolated, feared, and even criminalized. I wish people understood how their biases toward my health condition affect so much of my health care and my life.
            
            People living with HIV often struggle to find housing, employment, other resources, and even meaningful relationships due to fear of their condition. Many are disowned, avoided, or feared by family, friends and community. The fear of such stigma dissuades people from wanting to know their HIV status, and when people don't want to get tested to know their status, this pandemic continues to spread quietly in our society. This is just one way in which stigma affects us all.</p>
        <a href="/blog/details/okkk-8022f0fc-eb45-4fe8-b203-3067a86c0cef" class="read-more">Read More</a>
        <p></p>
        <h6>Posted By: <a href="#" class="posted-by">Nisha Yadav</a> </h6>
        <h6>0 Likes | 0 Comments</h6>
            
        </div>
        
             
        </div>
        </div>

</div>







<div class="cardblogmain">
    <div class="cardblog">
        <h2>Living a Healthy Lifestyle With HIV Means Making Adjustments</h2>
        <h6><i>July 19, 2021, 5:08 p.m.</i></h6>
        
        <div class="row">
        
        <div class="col-sm-3">
        
        <img class="blog_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTklf4gx8ZyznSQrIfUEDFmKJlgBY1ZgOFE2g&usqp=CAU" alt="nnnmkmlkml" title="nnnmkmlkml" width="100%">
        
        
            
        </div>
        
        <div class="col-sm-8">
        <p class="postedcontent"></p><p>Living with HIV can sometimes feel like having a laundry list of adjustments that you constantly have to make.

            This is definitely true when it comes to maintaining a healthy lifestyle. While there are general benefits that come with implementing exercise and nutrition into your routine, these things are pretty much a necessity when you’re HIV positive.
            
            By the time I tested positive (in the fall of 2004) I had been actively working out for at least 6 years. That didn’t make it any easier to adapt to the life change that came with a positive diagnosis.</p>
        <a href="/blog/details/nnnmkmlkml-e7e11120-cb48-4492-a984-090ec513d919" class="read-more">Read More</a>
        <p></p>
        <h6>Posted By: <a href="#" class="posted-by">Manas Bajpai</a> </h6>
        <h6>0 Likes | 0 Comments</h6>
            
        </div>
        
             
        </div>
        </div>

</div>







<div class="cardblogmain">
    <div class="cardblog">
        <h2>What I've Learned About Dating When You're HIV Positive</h2>
        <h6><i>July 19, 2021, 5:07 p.m.</i></h6>
        
        <div class="row">
        
        <div class="col-sm-3">
        
        <img class="blog_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLzjp98k2aON4P1zdpbQrzdBjL8u0VNIvjLg&usqp=CAU" alt="Treatment" title="Treatment" width="100%">
        
        
            
        </div>
        
        <div class="col-sm-8">
        <p class="postedcontent"></p><p>Dating can be a minefield of anxiety. Does he like me? Does he share any of my interests? Can he accept me as I am? It can be more than a challenge to find the right fit for anyone. Oh yeah -- and will he be OK with me being HIV-positive?

            There aren't many statements that can end a potential relationship any faster. Talk about an awkward situation to navigate! But when you live with HIV, seeking a meaningful relationship -- or even just a one-night stand -- this is an inevitable conversation. And unfortunately, due to the ignorance of the general public about HIV, not a conversation that usually goes well.</p>
        <a href="/blog/details/Treatment-cc853d92-84d4-4f4e-8e45-9e4efeec9a0b" class="read-more">Read More</a>
        <p></p>
        <h6>Posted By: <a href="#" class="posted-by">V Nikhita</a> </h6>
        <h6>0 Likes | 0 Comments</h6>
            
        </div>
        
             
        </div>
        </div>

</div>







<div class="cardblogmain">
    <div class="cardblog">
        <h2>How to Tell Someone You Have HIV</h2>
        <h6><i>July 19, 2021, 5:06 p.m.</i></h6>
        
        <div class="row">
        
        <div class="col-sm-3">
        
        <img class="blog_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaygn0OEo08o5BNYwoeIakvF-mngA3GHKy5g&usqp=CAU" alt="Welcome" title="Welcome" width="100%">
        
        
            
        </div>
        
        <div class="col-sm-8">
        <p class="postedcontent"></p><p>ou've just been diagnosed with HIV, and every thought you can imagine has been through your mind. Undoubtedly, one of those thoughts is -- how do you tell someone that you have HIV?

            Some health issues can be difficult to talk about: Transparency creates vulnerability, and vulnerability requires trust. For people who live with HIV, trust is usually cautiously rationed -- and for good reason.
            
            Before considering disclosing your status, there are some things you need to understand about the unfortunate realities of HIV stigma.
            
            For most people, just hearing those letters -- HIV -- gives us chills. And why wouldn't it, when the first image they conjure in our minds is death? That reflex/default reaction is based on an antiquated understanding of the virus and no longer has any bearing on truth. But it still affects people living with HIV because too many people don't know the facts about the modern science of the disease.</p>
        <a href="/blog/details/Welcome-7ee77a80-ce3a-4429-a674-25730a9d0568" class="read-more">Read More</a>
        <p></p>
        <h6>Posted By: <a href="#" class="posted-by">Jackky</a> </h6>
        <h6>0 Likes | 0 Comments</h6>
            
        </div>
        
             
        </div>
        </div>

</div>







<div class="cardblogmain">
    <div class="cardblog">
        <h2>How I Processed My HIV Diagnosis</h2>
        <h6><i>July 19, 2021, 5:06 p.m.</i></h6>
        
        <div class="row">
        
        <div class="col-sm-3">
        
        <img class="blog_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLzjp98k2aON4P1zdpbQrzdBjL8u0VNIvjLg&usqp=CAU" alt="Welcome" title="Welcome" width="100%">
        
        
            
        </div>
        
        <div class="col-sm-8">
        <p class="postedcontent"></p><p>There’s a lot about HIV that can be frightening, but as I approach my 17th year on the journey as a person living with this virus, nothing was more alarming than receiving a positive diagnosis for HIV.

            Prior to 2004, I had gone through the HIV testing routine regularly for at least 7 years (dating back to 1998 when I first got tested for HIV). I can clearly recall an overwhelming feeling of relief coming over me each time I’d get negative test results. But in November 2004, everything changed forever in what now feels like the blink of an eye.
            
            It’s important to note that prior to testing positive, I had close friends, associates, and former partners who had been living with HIV, and all of whom are still thriving and are in great health. I was also pretty well educated by then about HIV prevention, transmission, treatment, and all the rest. Still, when it all “fell into my lap,” everything I knew went right out the window.</p>
        <a href="/blog/details/Welcome-b2831e45-0cc9-48a2-8615-ce727867b4d2" class="read-more">Read More</a>
        <p></p>
        <h6>Posted By: <a href="#" class="posted-by">Jackky</a> </h6>
        <h6>0 Likes | 0 Comments</h6>
            
        </div>
        
             
        </div>
        </div>

</div>







<div class="cardblogmain">
    <div class="cardblog">
        <h2>How HIV Affected My Identity</h2>
        <h6><i>June 18, 2021, 8:30 a.m.</i></h6>
        
        <div class="row">
        
        <div class="col-sm-3">
        
        <img class="blog_img" src=" http://cdn0.sussexdirectories.com/rms/rms_photos/sized/66/53/105366-1176249-2_320x400.jpg?pu=1519501739" alt="Project" title="Project" width="100%">
        
        
            
        </div>
        
        <div class="col-sm-8">
        <p class="postedcontent"></p><p>Does your medical condition cause people to see you differently than before? More importantly, does it cause you to see yourself differently?

            We might not think about self-identity enough to add it to our medical checklist, but our identity -- how we view ourselves, how we feel about ourselves -- is a critical part of our well-being.
            
            Sometimes we feel labeled by our health. Sometimes we feel isolated or set apart from “healthy society” -- we become part of a demographic defined by our condition. This is especially true for people who live with HIV. Being diagnosed with HIV changed my life instantly; being given 1 to 5 years to live has that effect on you. Oh, don't worry, that was 21 years ago and HIV medications have come a long way since then. But back then I was dying, and that tends to change how people see you.</p>
        <a href="/blog/details/Project-1b06e379-2150-4c6f-89c2-5ccc5e421cc3" class="read-more">Read More</a>
        <p></p>
        <h6>Posted By: <a href="#" class="posted-by">tom</a> </h6>
        <h6>0 Likes | 0 Comments</h6>
            
        </div>
        
             
        </div>
        </div>

</div>







<div class="cardblogmain">
    <div class="cardblog">
        <h2>Getting The Right Diagnosis Saved My Life</h2>
        <h6><i>June 16, 2021, 12:18 p.m.</i></h6>
        
        <div class="row">
        
        <div class="col-sm-3">
        
        <img class="blog_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiNETs3FWbRhBMlV7OqKqcJpovSxTuNQX8Hw&usqp=CAU" alt="Introduction" title="Introduction" width="100%">
        
        
            
        </div>
        
        <div class="col-sm-8">
        <p class="postedcontent"></p><p>Many of us tend to self-diagnose. I know I used to -- I was too stubborn to go to the doctor. My obstinance nearly killed me.

            I have been living with HIV since June 2000, but I almost didn't survive my diagnosis. See, my first symptoms were misdiagnosed -- by everyone! First, I misdiagnosed myself. In 1999, I was a three-pack-a-day smoker and had been for years, so when I started experiencing shortness of breath, it was no surprise. I considered it a consequence of smoking and moved on. I also had very little appetite, but I didn't think much of that either -- it was somewhat normal for me. But after a few months of my breathing growing considerably worse, I researched my symptoms and decided I needed to be diagnosed and treated for COPD or emphysema.</p>
        <a href="/blog/details/Introduction-64f2bc08-805b-4c10-9071-07c76e926e75" class="read-more">Read More</a>
        <p></p>
        
        <h6>Posted By: <a href="#" class="posted-by">jack</a> </h6>
        <h6>1 Likes | 1 Comments</h6>
            
        </div>
        
             
        </div>
        </div>

</div>










    </div>
</div>





<%- include("partials/footer"); -%>