<%- include("partials/header") -%> 
<div class="CONTACT">

<div class="abtTxt">
    <h1 class="abtHeading">Get in Touch!</h1>
    <div class="contBox">
        <div class="cardContact">
            <i class="fab fa-linkedin fa-3x"></i>
             <p class="contactpage"> Apoorva Kaushal</p>
            
          </div>
          <div class="cardContact">
            <i class="fab fa-linkedin fa-3x"></i>
            <!-- <p class="contact">Call Us</p> -->
             <p class="contactpage">Manas Bajpai</p>
            
          </div>
          <div class="cardContact">
            <i class="fab fa-linkedin fa-3x"></i>
            <!-- <p class="contact">email Us</p> -->
             <!-- <a class="contact" href="mailto:apoorvakaushal93@gmail.com">Nisha Yadav</a>
             -->
             <p class="contactpage">Nisha Yadav</p>

          </div>
          
    </div>
 
      </div>
        
</div>

<%- include("partials/footer") -%> 