<%- include("partials/header") -%> 
<div class="abtTxt">
    <h1 class="abtHeading">Get in Touch!</h1>
    <div class="contBox">
        <div class="card">
            <i class="fas fa-phone-alt fa-3x"></i>
            <p class="contact">Call Us</p>
             <p class="contact"> +91 8381885119</p>
            
          </div>
          <div class="card">
            <i class="fas fa-envelope fa-3x"></i>
            <p class="contact">email Us</p>
             <a class="contact" href="mailto:apoorvakaushal93@gmail.com">apoorvakaushal93@gmail.com</a>
            
          </div>
          <div class="card">
            <i class="fab fa-linkedin fa-3x"></i>
            <p class="contact">Connect Here!</p>
             
            <a class="contact" href="https://www.linkedin.com/in/apoorva-kaushal-6297a81b8/">Apoorva Kaushal</a>
            
          </div>
    </div>
 
      </div>

<%- include("partials/footer") -%> 