<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="headingCard">Covid-19 and HIV</h1>

    <figure class="quote">
        <h1>What is HIV?</h1>
    <blockquote>
    <p>
        HIV (human immunodeficiency virus) is a virus that attacks the body’s immune system. If HIV is not treated, it can lead to AIDS (acquired immunodeficiency syndrome).
There is currently no effective cure. Once people get HIV, they have it for life.
But with proper medical care, HIV can be controlled. People with HIV who get effective HIV treatment can live long, healthy lives and protect their partners.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Where did HIV come from?</h1>
    <blockquote>
    <p>
        HIV infection in humans came from a type of chimpanzee in Central Africa.
The chimpanzee version of the virus (called simian immunodeficiency virus, or SIV) was probably passed to humans when humans hunted these chimpanzees for meat and came in contact with their infected blood.
Studies show that HIV may have jumped from chimpanzees to humans as far back as the late 1800s.
Over decades, HIV slowly spread across Africa and later into other parts of the world. We know that the virus has existed in the United States since at least the mid to late 1970s.
To learn more about the history of HIV in the United States and CDC’s response to the epidemic, see CDC’s HIV and AIDS Timeline.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>How do I know if I have HIV?</h1>
    <blockquote>
    <p>
        The only way to know for sure whether you have HIV is to get tested. Knowing your HIV status helps you make healthy decisions to prevent getting or transmitting HIV.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Are there symptoms?</h1>
    <blockquote>
    <p>
        Some people have flu-like symptoms within 2 to 4 weeks after infection (called acute HIV infection). These symptoms may last for a few days or several weeks. Possible symptoms include

Fever,
Chills,
Rash,
Night sweats,
Muscle aches,
Sore throat,
Fatigue,
Swollen lymph nodes, and
Mouth ulcers.
But some people may not feel sick during acute HIV infection. These symptoms don’t mean you have HIV. Other illnesses can cause these same symptoms.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
</body>
</html>