<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allison&family=Lobster&family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<title>HivCare</title>
</head>
<body>
    <header class="sticky">
        <nav class="nav">
            <ul>
            <li><a class="active" href="/about">About Us</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/contact">Contact Us</a></li>
            </ul>
         </nav>

        </header>
        <div class="banner-container">
            <div class="banner-text">
                <h1>HivCare</h1>
                <h3> Improving lives together.</h3>
                </div>
            </div>
        </div>
<div class="about">
    <h1>About Us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam dicta omnis, explicabo, sint necessitatibus nemo delectus rem enim, est eius temporibus mollitia culpa cum aspernatur? Harum culpa ipsum deleniti.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore exercitationem dignissimos dolores corrupti reiciendis quidem. Voluptatem id qui est, cum ipsam sapiente repellat odio veritatis voluptatum magnam ad! Inventore, earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur minus, repellat repudiandae alias, animi iusto commodi voluptatibus minima sit beatae iure reiciendis rem sequi reprehenderit ratione quia aspernatur, eius sint.
    </p>
</div>
<div class="boxes">
<main>
    <div><img src="/images/quiz.png" alt=""></div>
    <div class="con-1"><h2>Lates Have some Quiz</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci aut accusamus cupiditate. Architecto iure, aperiam saepe quod dolorem, obcaecati veniam, illum quidem libero atque eius non odit beatae consequuntur?</p>
        <a href="/quiz"><button type="submit" name="buttonCompose" class=" btn btn-success">Compose</button></a>

    </div>
</main>
<div class="box2">
    <div class="con-2"><h2>Explore Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci aut accusamus cupiditate. Architecto iure, aperiam saepe quod dolorem, obcaecati veniam, illum quidem libero atque eius non odit beatae consequuntur?</p>
    </div>
    <div><img class="img2" src="images/blogimg.png" alt=""></div>
</div>
</div>

<div class="sec">
    <a href="#"><img src="images/transmission.png" width="260px" alt=""></a>
    <a href="#"><img src="images/prevention.png" width="260px" alt=""></a>
    <a href="#"><img src="images/stigma.png" width="260px" alt=""></a>
</div>
<div class="sec">
    <a href="#"><img src="images/covid.png" width="260px" alt=""></a>
    <a href="#"><img src="images/living.png" width="260px" alt=""></a>
    <a href="#"><img src="images/testing.png" width="260px" alt=""></a>

</div>
<div>

</div>  

<div class="call-actn">
<main>
    <div><img src="images/quiz.png" alt=""></div>
    <div class="con-1"><h2>Lates Have some Quiz</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci aut accusamus cupiditate. Architecto iure, aperiam saepe quod dolorem, obcaecati veniam, illum quidem libero atque eius non odit beatae consequuntur?</p>
        <a href="/quiz"><button type="submit" class="composeButton btn btn-success">Take the test</button></a>
    </div>
    
</main>
<div class="box2">
    <div class="con-2"><h2>Explore Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci aut accusamus cupiditate. Architecto iure, aperiam saepe quod dolorem, obcaecati veniam, illum quidem libero atque eius non odit beatae consequuntur?</p>
    </div>
    <div><img class="img2" src="images/blogimg.png" alt=""></div>
</div>
</div>