<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allison&family=Lobster&family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<title>hivCare</title>
</head>
<body>
    <header class="sticky">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                </ul>
            </div>
         </nav>

        </header>
        <div class="banner-lockup">
            <div class="banner-text">
                <h1>hivCare</h1>
                <h3> Improving lives together.</h3>
                </div>
            <div class="banner-container" style="position:relative;margin-top:0px;">
            </div>
        </div>
<div class="about">
    <h1>About Us</h1>
    <p>HIV (human immunodeficiency virus) is a virus that attacks the body’s immune system. If HIV is not treated, it can lead to AIDS (acquired immunodeficiency syndrome). Learning the basics about HIV can keep you healthy and prevent HIV transmission. So here we are with our application which has all the information regarding to it. Our Web Application <strong>hivCare</strong> has a bunch of helpful things that can help people aware of this virus. We have made a self assessment-test where one can go and take their test and can know their risk of hiv. You can read blogs in which people suffering from hiv has shared their experience and everything about it. Further we have made a section in the end which has all the information and answer to every question that one may have in their mind. </p>
</div>
<div class="boxes">
<main>
    <div class="image-container">
        <div style="width:100%;"><img width="100%" src="/images/quiz.png" alt=""></div>
    </div>
    <div class="con-1"><h2>Take your Self assessment Test</h2>
        <p>This is an interactive clinical assessment tool that will assist individuals on deciding when to seek testing or medical care if they suspect they or someone they know has contracted hiv or has come into close contact with someone suffering with hiv.
            The online, mobile-friendly tool asks a series of questions, and based on the user’s responses, provides recommended actions.</p>
        <a href="/quiz"><button type="submit" name="buttonCompose" class=" btn btn-success">Take the test</button></a>

    </div>
</main>
<div class="box2">
    <div class="con-2"><h2>Explore Blogs</h2>
        <p>Read more about hiv and hear from people who are living with hiv and learn from their experience.</p>
        <a href="/blog"><button type="submit" name="buttonCompose" class=" btn btn-success">Explore Blogs</button></a>

    </div>
    <div class="image-container">
        <div style="width:100%"><img width="100%" class="img2" src="images/blogimg.png" alt=""></div>
    </div>
</div>
</div>

<div class="sec">
    <a href="/transmission"><img src="images/transmission.png" width="260px" alt=""></a>
    <a href="/prevention"><img src="images/prevention.png" width="260px" alt=""></a>
    <a href="/stigma"><img src="images/stigma.png" width="260px" alt=""></a>
    <a href="/covid"><img src="images/covid.png" width="260px" alt=""></a>
    <a href="/living"><img src="images/living.png" width="260px" alt=""></a>
    <a href="/testing"><img src="images/testing.png" width="260px" alt=""></a>

</div>
<div>

</div>  

<!-- <div class="call-actn">
<main>
    <div><img src="images/quiz.png" alt=""></div>
    <div class="con-1"><h2>Lates Have some Quiz</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci aut accusamus cupiditate. Architecto iure, aperiam saepe quod dolorem, obcaecati veniam, illum quidem libero atque eius non odit beatae consequuntur?</p>
        <a href="/quiz"><button type="submit" class="composeButton btn btn-success">Take the test</button></a>
    </div>
    
</main>
<div class="box2">
    <div class="con-2"><h2>Explore Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui adipisci aut accusamus cupiditate. Architecto iure, aperiam saepe quod dolorem, obcaecati veniam, illum quidem libero atque eius non odit beatae consequuntur?</p>
    </div>
    <div><img class="img2" src="images/blogimg.png" alt=""></div>
</div>
</div> -->


<section class="contact" id="contact">
    <div class="max-width">
       <h2 class="con-title">Contact Us</h2>
       <div class="column right">
           <form action="#">
               <div class="fields">
                   <div class="field name">
                       <input type="text" placeholder="Name" required>
                   </div>
                   <div class="field email">
                       <input type="email" placeholder="Email" required>
                   </div>
               </div>
               <div class="field">
                   <input type="text" placeholder="Subject" required>
               </div>
               <div class="field textarea">
                   <textarea cols="30" rows="10" placeholder="Message.." required></textarea>
               </div>
               <div class="button-area">
                   <button type="submit">Send message</button>
               </div>
           </form>
       </div>
    </div>
</section>

<footer>
   <p>made by team_deBuggers.</p>
</footer>