<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="headingCard">living with HIV</h1>

    <figure class="quote">
        <h1>What does an HIV diagnosis mean?</h1>
    <blockquote>
    <p>
        If you receive an HIV diagnosis, it means that you have HIV.
Unlike some other viruses, the human body can’t get rid of HIV completely. Once you have HIV, you have it for life.
But with proper medical care, HIV can be controlled. People with HIV who get effective HIV treatment can live long, healthy lives and protect their partners.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>What should I do if I just got diagnosed with HIV?</h1>
    <blockquote>
    <p>
        Start HIV Treatment As Soon As Possible After Diagnosis
    Get in care and take medicine to treat HIV (called antiretroviral therapy or ART).
    Taking HIV medicine can reduce the amount of HIV in the blood (called viral load).
    HIV medicine can make the viral load very low (called viral suppression). Viral suppression is defined as having less than 200 copies of HIV per milliliter of blood.
    HIV medicine can make the viral load so low that a test can’t detect it (called an undetectable viral load).
    Getting and keeping an undetectable viral load (or staying virally suppressed) is the best thing you can do to stay healthy. Having an undetectable viral load also helps prevent transmission to others. In fact, if you have an undetectable viral load, you have effectively no risk of transmitting HIV to an HIV-negative partner through sex. Most people can get the virus under control within six months.
    Learn more about the benefits of HIV treatment.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>What should I ask my health care provider about having a baby?</h1>
    <blockquote>
    <p>
        Your health care provider can provide information to help you make the best decision about having a baby. You might ask your health care provider some of these questions:

What is the safest way to conceive?
Will HIV cause problems for me during pregnancy or delivery?
Will my HIV treatment cause problems for my baby?
What are the pros and cons of taking medicine while I am pregnant?
Is my viral load undetectable?
How do I avoid transmitting HIV to my partner, surrogate, or baby during conception, pregnancy, and delivery?
If my partner is on PrEP, will we have a lower chance of transmitting HIV to our baby?
What medical and community programs and support groups can help me and my baby?
What birth control methods are best for me?
Adopting a baby is also an option for people with HIV who want to begin or expand their families. The American with Disabilities Actexternal icon does not allow adoption agencies to discriminate against individuals or couples with HIV.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>What is HIV treatment?</h1>
    <blockquote>
    <p>
        HIV treatment involves taking medicine that reduces the amount of HIV in your body.
HIV medicine is called antiretroviral therapy (ART).
There is no effective cure for HIV. But with proper medical care, you can control HIV.
Most people can get the virus under control within six months.
Taking HIV medicine does not prevent transmission of other sexually transmitted diseases.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>What if I delay treatment?</h1>
    <blockquote>
    <p>
        HIV will continue to harm your immune system.
      This will put you at higher risk for developing AIDS. Learn more about AIDS and opportunistic infections.
      This will put you at higher risk for transmitting HIV to your sexual and injection partners.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>How can I protect my partners?</h1>
    <blockquote>
    <p>
        Get and Keep an Undetectable Viral Load
If you take HIV medicine and get and keep an undetectable viral load, you have effectively no risk of transmitting HIV to an HIV-negative partner through sex.
We don’t know whether getting and keeping an undetectable viral load prevents HIV transmission through sharing needles, syringes, or other drug injection equipment (for example, cookers). It very likely reduces the risk, but we don’t know by how much.
Getting and keep an undetectable viral load is the best thing you can do to stay healthy and protect others.
Learn more about HIV treatment.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
</body>
</html>