<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="headingCard">Prevetion of HIV</h1>

    <figure class="quote">
        <h1>Choose Sexual Activities With Little to No Risk</h1>
    <blockquote>
    <p>
        Choose sex that is less risky than anal or vaginal sex. There is little to no risk of getting HIV through oral sex.
You can’t get HIV from sexual activities that don’t involve contact with body fluids (semen, vaginal fluid, or blood).
Learn more about how HIV is and is not transmitted.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>

    <figure class="quote">
        <h1>Use Condoms the Right Way Every Time You Have Sex</h1>
    <blockquote>
    <p>
        Condoms are highly effective in preventing HIV and other sexually transmitted diseases (STDs), like gonorrhea and chlamydia.
        Use water-based or silicone-based lubricants to help prevent condoms from breaking or slipping during sex.
        Learn the right way to use an external condom (sometimes called a male condom) and an internal condom (sometimes called a female condom).
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Take PrEP</h1>
    <blockquote>
    <p>
        PrEP (pre-exposure prophylaxis) is medicine people at risk for HIV take to prevent HIV.
        If taken as prescribed, PrEP is highly effective for preventing HIV from sex.
        PrEP is much less effective when it is not taken as prescribed.
        Find out if PrEP is right for you.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Decide Not to Have Sex</h1>
    <blockquote>
    <p>
        Not having sex (also known as being abstinent) is a 100% effective way to make sure you won’t get HIV through sex.
    You can be abstinent at different times in your life for different reasons that may change over time.
    Not having sex also prevents other STDs and pregnancy.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Get Tested and Treated for Other STDs</h1>
    <blockquote>
    <p>
        If you have another STD, you are more likely to get HIV. Getting tested and treated for other STDs can lower your chances of getting HIV.
        Many people with an STD may not know they have one because they don’t have symptoms.
        Find a testing site near you.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>If Your Partner Has HIV, Encourage Your Partner to Get and Stay in Treatment</h1>
    <blockquote>
    <p>
        This is the most important thing your partner can do to stay healthy.
        If your partner takes HIV medicine and gets and keeps an undetectable viral load, there is effectively no risk of you getting HIV from sex with your partner.
    Learn more about the benefits of HIV treatment as prevention.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>

</body>
</html>