<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIV risk Assessment Test</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>
<body>
    <div class="skills">
        <h1 class="headingCard">High Risk!</h1>
        <div class="skill-row">
          <img class="code" src="/images/tensed.png" alt="">
          <div class="code-txt">
          <h3>Uh-oh!!</h3>
          <p class="code-description">Your score seems that you are at higher risk. Most of the things matches with the hiv symptoms. You must consider taking a test for the same and need to talk to a doctor ASAP.</p> 
        </div>
      </div>
       
      </div>




</body>
    
      </html>