<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIV risk Assessment Test</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/quiz" method="post">
    <div class="containermainquiz">

        <h1 class="headingquiz">HIV self Assessment Test</h1>
        <div class="mainquiz">

            <div class="cardmain">

           <div class="card">

          1. Have You or your sexual partner(s) had other sexual partners in the past year? <br>
          <input type="radio" name="Q1y" id="yes1" class="option">  <b>YES</b>
          <input type="radio" name="Q1" id="no1" class="option"> <b>NO</b><br>
          
        </div>

        <div class="card">
       2. Have you ever had a sexually transmitted infection?<br>
       <input type="radio" name="Q2y" id="yes2" class="option"> <b>YES</b>
       <input type="radio" name="Q2" id="no2" class="option"> <b>NO</b><br>
        </div>

       <div class="card">
       3. Are you pregnant or considering becoming pregnant? <br>
       <input type="radio" name="Q3y" id="yes3" class="option"><b>YES</b>
       <input type="radio" name="Q3" id="no3" class="option"><b>NO</b><br>
       </div>

       <div class="card">
       4. Have you or your sexual partner(s) injected drugs or other substances and/or shared needles with another person? <br>
       <input type="radio" name="Q4y" id="yes4" class="option"> <b>YES</b>
       <input type="radio" name="Q4" id="no4" class="option"> <b>NO</b> <br>
       </div>

       <div class="card">
        5. Have you ever had sex with a male partner who had sex with another male? <br>
       <input type="radio" name="Q5y" id="yes5" class="option"> <b>YES</b>
       <input type="radio" name="Q5" id="no5" class="option"> <b>NO</b> <br>
       </div>

        
       <div class="card">
       6. Have You ever had sex with a person who is HIV infected? <br>
       <input type="radio" name="Q6y" id="yes6" class="option"> <b>YES</b>
       <input type="radio" name="Q6" id="no6" class="option"><b>NO</b> <br>
       </div>

       <div class="card">
       7. Have You ever been paid for sex and/or had sex with a prostitute/sex worker? <br>
       <input type="radio" name="Q7y" id="yes7" class="option"><b>YES</b>
       <input type="radio" name="Q7" id="no7" class="option"><b>NO</b> <br>
       </div>

       <div class="card">
       8. Have You engaged in behaviour resulting in blood to blood contact (eg. S & M , tattooting, piercing)?<br>
       <input type="radio" name="Q8y" id="yes8" class="option"><b>YES</b>
       <input type="radio" name="Q8" id="no8" class="option"><b>NO</b> <br>
       </div>

       
       <div class="card">
       9. Have You or your sexual partner(s) recieved a blood transfusion or blood products before 1985? <br>
       <input type="radio" name="Q9y" id="yes9" class="option"><b> YES </b>
       <input type="radio" name="Q9" id="no9" class="option"> <b>NO</b> <br>
       </div>


       <div class="card">
       10. Have You been the victim of rape, date rape or sexual abuse? <br>
       <input type="radio" name="Q10y" id="yes10" class="option"><b> YES</b>
       <input type="radio" name="Q10" id="no10" class="option"> <b>NO</b>  <br>
       </div>

      </div>
      </div>
    </div>
    <button type="submit" class="result" name="submit" onclick="">Check</button>

</form>
</body>
</html>