<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="headingCard">HIV Testing</h1>

    <figure class="quote">
        <h1>What is HIV stigma?</h1>
    <blockquote>
    <p>
        HIV stigma is negative attitudes and beliefs about people with HIV. It is the prejudice that comes with labeling an individual as part of a group that is believed to be socially unacceptable.
Here are a few examples:

Believing that only certain groups of people can get HIV
Making moral judgments about people who take steps to prevent HIV transmission
Feeling that people deserve to get HIV because of their choices
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>What are the effects of HIV stigma and discrimination?</h1>
    <blockquote>
    <p>
        HIV stigma and discrimination affect the emotional well-being and mental health of people living with HIV. People living with HIV often internalize the stigma they experience and begin to develop a negative self-image. They may fear they will be discriminated against or judged negatively if their HIV status is revealed.Icon of a woman with her hand over her face
“Internalized stigma” or “self-stigma” happens when a person takes in the negative ideas and stereotypes about people living with HIV and start to apply them to themselves. HIV internalized stigma can lead to feelings of shame, fear of disclosure, isolation, and despair. These feelings can keep people from getting tested and treated for HIV.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>What causes HIV stigma?</h1>
    <blockquote>
    <p>
        HIV stigma is rooted in a fear of HIV. Many of our ideas about HIV come from the HIV images that first appeared in the early 1980s. There are still misconceptions about how HIV is transmitted and what it means to live with HIV today.

The lack of information and awareness combined with outdated beliefs lead people to fear getting HIV. Additionally, many people think of HIV as a disease that only certain groups get. This leads to negative value judgements about people who are living with HIV.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>What is discrimination?</h1>
    <blockquote>
    <p>
        While stigma refers to an attitude or belief, discrimination is the behaviors that result from those attitudes or beliefs. HIV discrimination is the act of treating people living with HIV differently than those without HIV.
Here are a few examples:

A health care professional refusing to provide care or services to a person living with HIV
Refusing casual contact with someone living with HIV
Socially isolating a member of a community because they are HIV positive
Referring to people as HIVers or Positives
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
</body>
</html>