<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>transmissions</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="headingCard">Transmission of HIV</h1>
    <figure class="quote">
        <h1>How is HIV passed from one person to another?</h1>
    <blockquote>
    <p>
        <!-- var = "Most people who get HIV get it through anal or vaginal sex, or sharing needles, syringes, or other drug injection equipment (for example, cookers). But there are powerful tools that can help prevent HIV transmission." -->
        Most people who get HIV get it through anal or vaginal sex, or sharing needles, syringes, or other drug injection equipment (for example, cookers). But there are powerful tools that can help prevent HIV transmission.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Can I get HIV from anal sex?</h1>
    <blockquote>
    <p>
        <!-- var = "Most people who get HIV get it through anal or vaginal sex, or sharing needles, syringes, or other drug injection equipment (for example, cookers). But there are powerful tools that can help prevent HIV transmission." -->
        You can get HIV if you have anal sex with someone who has HIV without using protection (like condoms or medicine to treat or prevent HIV).

        Anal sex is the riskiest type of sex for getting or transmitting HIV.
        Being the receptive partner (bottom) is riskier for getting HIV than being the insertive partner (top).
        The bottom’s risk of getting HIV is very high because the rectum’s lining is thin and may allow HIV to enter the body during anal sex.
        The top is also at risk because HIV can enter the body through the opening at the tip of the penis (or urethra), the foreskin if  the penis isn’t circumcised, or small cuts, scratches, or open sores anywhere on the penis.        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Can I get HIV from vaginal sex?</h1>
    <blockquote>
    <p>
        <!-- var = "Most people who get HIV get it through anal or vaginal sex, or sharing needles, syringes, or other drug injection equipment (for example, cookers). But there are powerful tools that can help prevent HIV transmission." -->
        You can get HIV if you have vaginal sex with someone who has HIV without using protection (like condoms or medicine to treat or prevent HIV).

        Vaginal sex is less risky for getting HIV than receptive anal sex.
        Either partner can get HIV during vaginal sex.
        Most women who get HIV get it from vaginal sex. HIV can enter a woman’s body during vaginal sex through the mucous membranes that line the vagina and cervix.
        Men can also get HIV during vaginal sex. This is because vaginal fluid and blood can carry HIV. Men get HIV through the opening at the tip of the penis (or urethra), the foreskin if the penis isn’t circumcised, or small cuts, scratches, or open sores anywhere on the penis.        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Can HIV be transmitted from a mother to her baby?</h1>
    <blockquote>
    <p>
        <!-- var = "Most people who get HIV get it through anal or vaginal sex, or sharing needles, syringes, or other drug injection equipment (for example, cookers). But there are powerful tools that can help prevent HIV transmission." -->
        HIV can be transmitted from a mother to her baby during pregnancy, birth, or breastfeeding. However, it is less common because of advances in HIV prevention and treatment.

        This is called perinatal transmission or mother-to-child transmission.
        Mother-to-child transmission is the most common way that children get HIV.
        Recommendations to test all pregnant women for HIV and start HIV treatment immediately have lowered the number of babies who are born with HIV.
        If a mother with HIV takes HIV medicine daily as prescribed throughout pregnancy and childbirth, and gives HIV medicine to her baby for 4 to 6 weeks after giving birth, the risk of transmitting HIV to the baby can be less than 1%.        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
    <figure class="quote">
        <h1>Can I get HIV from sharing needles, syringes, or other drug injection equipment?</h1>
    <blockquote>
    <p>
        You are at high risk for getting HIV if you share needles, syringes, or other drug injection equipment (for example, cookers) with someone who has HIV. Never share needles or other equipment to inject drugs, hormones, steroids, or silicone.

       Used needles, syringes, and other injection equipment may have someone else’s blood on them, and blood can carry HIV.
        People who inject drugs are also at risk for getting HIV (and other sexually transmitted diseases) because they may engage in risky sexual behaviors like having sex without protection (such as condoms or medicine to prevent or treat HIV).
        You’re also at risk for getting hepatitis B and C, and other infections if you share needles, syringes, or other injection equipment.
        <a href="">Read More</a>
    </p>
</blockquote>
    </figure>
</body>
</html>